$bg-primary-color: green;
$bg-secondary-color: yellow;
$bg-dark-color: #050505;
$primary-color: #050505;
$secondary-color: #7a7a7a;
$indicators: #111;
$prev-carousel: #222;
$active-carousel: #000;
$active-carousel-second: #ffffff6b;
$heart-color: #e61e10;